$total-count = 24

flex-clearfix()
  &:before, &:after
      content " "
      display flex
      box-sizing border-box
      width 0
      height 0
      font-size 0
  &:after
      clear both

.flex-column, .flex-row
  display flex
  flex-wrap wrap
  flex-clearfix()

.flex-column
  flex-direction column

.flex-row
  flex-direction row

.flex-around
  justify-content: space-around

.flex-between
  justify-content: space-between

.flex-baseline
  align-items: baseline

.flex-strech
  align-items: stretch

.flex-item
  float: left
  flex-grow: 1

.flex-1
  flex: 1

percentage(currNum)
  (currNum / $total-count * 100)%

for i in 1..$total-count
  .flex-item-{i}
    float left
    width percentage(i)

create-column()
    &.flex-left
      justify-content: flex-start
    &.flex-right 
      justify-content: flex-end
    &.flex-top
      align-items: flex-start
    &.flex-bottom
      align-items: flex-end
    &.flex-center
      justify-content: center
    &.flex-middle
      align-items: center

create-row()
    &.flex-left
      justify-content: flex-start
    &.flex-right
      justify-content: flex-end
    &.flex-top
      align-items: flex-start
    &.flex-bottom
      align-items: flex-end
    &.flex-center
      justify-content: center
    &.flex-middle
      align-items: center
.flex-column
  create-column()

.flex-row
  create-row()

[class*=flex-item]
    &.flex-left
      margin-right: auto
    &.flex-right
      margin-left: auto
    &.flex-top
      margin-bottom: auto
    &.flex-bottom
      margin-top: auto
    &.flex-center
      margin-left: auto
      margin-right: auto
    &.flex-middle
      margin-top: auto
      margin-bottom: auto

.flex-sm-show, .flex-md-show
	display: none

@media (max-width: 992px)
  .flex-md
    flex-direction: column
    create-row()
    [class*=flex-item]
      width: 100%;
  
  .flex-md-hide
    display: none !important;
  
  .flex-md-show
    display: flex !important;

@media (max-width: 768px)
  .flex-sm
    flex-direction: column
    create-row()
    [class*=flex-item]
      width: 100%;

  .flex-sm-hide
    display: none !important;
  
  .flex-sm-show
    display: flex !important; 