// Basic Colors
$black = #000
$white = #fff
$red = #ee0a24
$red-dark = #ee3228
$blue = #1989fa
$orange = #ff976a
$orange-dark = #ed6a0c
$orange-light = #fffbe8
$green = #07c160
$gray = #c8c9cc
$gray-light = #e5e5e5
$gray-darker = #7d7e80
$gray-dark = #969799

// Padding
$padding-base = 4px
$padding-xs = $padding-base * 2
$padding-sm = $padding-base * 3
$padding-md = $padding-base * 4
$padding-lg = $padding-base * 6
$padding-xl = $padding-base * 8

// Font
$font-size-xs = 10px
$font-size-sm = 12px
$font-size-md = 14px
$font-size-lg = 16px
$font-weight-bold = 500

// goods-cell
$goods-cell-height = 200px
$goods-cell-padding = $padding-md 0
$goods-background-color = green 

// left-right
$goods-cell-left = $goods-cell-height
$goods-cell-left-padding = $padding-md